* {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 248, 234);
}

section {
    width: 80vw;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

@media (min-width: 1024px) {}

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1023px) {
    * {
        color: red;
    }

    .listContainer .list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

}

/* 모바일 */
@media all and (max-width:767px) {
    * {
        color: blue;
    }

    .listContainer .list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}

/* 장바구니 아이콘 */
.cart {
    position: absolute;
    top: 180px;
    right: 70px;
    margin: 5%;
    cursor: pointer;
}

.cart img {
    width: 35px;
    position: relative;
}

.cart .iconQuantity {
    background-color: red;
    color: white;
    border-radius: 100%;
    position: absolute;
    left: 80%;
    top: -5px;
    padding: 1px 5px;
}

/* 장바구니 창 */
.cartPage {
    position: fixed;
    top: 0;
    left: 100%;
    width: 200px;
    background-color: rgb(207, 200, 186);
    height: 400px;
    transition: 0.5s;
}

.cartPage h1 {
    font-size: 2rem;
    text-align: center;
}

.cartPage .cartList {
    width: 100%;
    height: 70%;
    margin: 5% 5%;
    font-size: 4rem;
}

.cartPage .cartList li {
    margin: 5% 0;
}

.cartPage .cartList .count {
    font-weight: bold;
}

.cartPage .cartList div:last-of-type {
    display: flex;
    justify-content: space-evenly;
}

.cartPage .cartList button {
    border-style: none;
    margin-top: 10%;
    
}

.cartPage .cartInfo {
    width: 100%;
}

.cartPage .cartInfo a,
span {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 3%;
}

.cartPage .cartClose {
    background-color: #BBB5A8;
    position: absolute;
    bottom: 0;
    width: 100%;
    cursor: pointer;
}

/* 장바구니 창 애니메이션 */
@keyframes cartOn {
    from {
        left: 100%;
    }

    to {
        left: calc(100% - 200px);
    }
}

@keyframes cartOff {
    from {
        left: calc(100% - 200px);
    }

    to {
        left: 100%;
    }
}

.cartPage .cartList {
    overflow: auto;
}

.cartPage .cartList li {
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
}

.cartPage .cartList li div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartPage .cartList li img {
    width: 100%;
}

.cartPage .cartList button {
    width: auto;
}

/* 필터 */
.listContainer .listSort {
    text-align: right;
    margin: 5% 0;
}

.listContainer .listSort span {
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1%;
}

/* 상품 목록 */
.list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.list .item div {
    margin: 3%;
}

.list .item img {
    width: 90%;
    margin: 3%;
}

.list .item .title {
    font-weight: bold;
    font-size: 1.5rem;
}

.list .item .price {
    font-size: 1.5rem;
}

.list .item button {
    border-style: none;
    margin: 2%;
    font-size: 1.5rem;
    font-weight: bold;
}

.list .item button:hover {
    cursor: pointer;
    opacity: 0.5;
}