* {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    list-style: none;
    text-decoration-line: none;
}

body {
    width: 100%;
    height: 100vh;
}

section {
    width: 80vw;
    margin: 5% auto;
    text-align: center;
    align-items: center;
}

@media (min-width: 1024px) {}

/* 태블릿 */
@media all and (min-width:768px) and (max-width:1023px) {
    * {
        color: red;
    }

    .newProductContainer .newProduct ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

    }

    .newProductContainer .newProduct .item {
        width: 100%;

    }

}

/* 모바일 */
@media all and (max-width:767px) {
    * {
        color: blue;
    }

    .newProductContainer .newProduct ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }


}

/* 메인 슬라이드 */
.slideContainer {
    height: 30rem;
    position: relative;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-content: center;
}

.slide {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden; 
}

.slide img {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    position: absolute;
}

.slideContainer .slide img:first-child {
    right: 0%;
}

.slideContainer .slide img:not(:first-child) {
    top: 0;
    left: -100%;
}

.slideArrow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
}

.slideArrow button {
    margin: 0 5%;
    border-style: none;
    border-radius: 100%;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    font-size: 2rem;
    background-color: transparent;
}

.slideArrow button:hover {
    background-color: rgb(247, 247, 247);
    opacity: 0.5;
}

/* 슬라이드 이동 */
@keyframes next1 {
    from {
        left: 0%
    }

    to {
        left: -100%;
    }
}

@keyframes next2 {
    from {
        left: 100%
    }

    to {
        left: 0%;
    }
}

@keyframes prev1 {
    from {
        left: 0%
    }

    to {
        left: 100%;
    }
}

@keyframes prev2 {
    from {
        left: -100%
    }

    to {
        left: 0%;
    }
}


/* 새로운 상품 */
.newProductContainer div#productTitle {
    font-size: 3.0rem;
    font-weight: bold;
    margin: 5% 0;
}

.newProduct ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.newProduct img {
    width: 90%;
    transition: all 0.2s linear;
    margin: 3% 0;
}

.newProduct .item li:first-child {
    overflow: hidden;
}

.newProduct img:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.newProduct .item #name {
    font-weight: bold;
    font-size: 3.0rem;
}

.newProduct .item #price {
    font-size: 1.5rem;
}